.Logo {
    background-color: #FFFFFF;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 22px 0;

}

.Logo img {
    height: 100%;
}

@media (min-width: 500px) {
    .Logo {
        background-color: #FFFFFF;
        padding: 8px;
        height: 100%;
        box-sizing: border-box;
        border-radius: 3px;
    
    }
    
    .Logo img {
        height: 100%;
    }
}